.main-bg {
  background-image: linear-gradient(50.75deg, #aeff00, #ff005b);
}

.top-graphics01 {
  position: absolute;
  left: 20%;
  top: 0;
  right: auto;
  bottom: auto;
  display: inline-block;
  width: 20%;
  max-width: 35%;
  -o-object-fit: fill;
  object-fit: fill;
}
